<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>AI Service Dashboard</title>

<link rel="stylesheet" href="/static/css/style.css">

<script defer src="/static/js/app.js"></script>

</head>

<body>

<nav>

    <h2>🚀 AI Service Dashboard</h2>

    <a href="/docs" target="_blank">Swagger Docs</a>

</nav>

<section class="hero">

    <h1> CI/CD Successfully Working</h1>

    <p>
        Docker • PostgreSQL • Redis • NGINX • GitHub Actions
    </p>

    <button onclick="checkHealth()">
        Check Health
    </button>

</section>

<section class="cards">

    <div class="card">
        <h3>API</h3>
        <p id="api">Checking...</p>
    </div>

    <div class="card">
        <h3>Database</h3>
        <p id="db">Checking...</p>
    </div>

    <div class="card">
        <h3>Redis</h3>
        <p id="redis">Checking...</p>
    </div>

</section>

<section class="cards">

    <div class="card">

        <h3>Environment</h3>

        <p id="environment"></p>

    </div>

    <div class="card">

        <h3>Version</h3>

        <p id="version"></p>

    </div>

    <div class="card">

        <h3>Response Time</h3>

        <p id="response"></p>

    </div>

</section>

<section class="cards">

    <div class="card">

        <h3>Last Checked</h3>

        <p id="checked"></p>

    </div>

    <div class="card">

        <h3>Server Time</h3>

        <p id="server"></p>

    </div>

    <div class="card">

        <h3>Deployment</h3>

        <p>

            Docker ✅<br>

            NGINX ✅<br>

            CI/CD Ready ✅

        </p>

    </div>

</section>

<footer>

    Built with using FastAPI • Docker • PostgreSQL • Redis

</footer>

</body>

</html>